---
const {type, size} = Astro.props 
---

<button class={type + " " + size}><slot/></button>

<style>
    button {
        padding: 1rem;
        border: 1px white solid;
    }

    .primary {
        background-color: blue;
    }
    .secondary {
        background-
        color: blueviolet;
    }
    .medium {
        font-size: 1rem;

    }
    .large {
        font-size: 2rem;
    }
</style>